@model Pitstop.WebApp.ViewModels.VehicleManagementViewModel
@{
    ViewData["Title"] = "Vehicles Overview";
}
<h3 id="PageTitle">Vehicle Management - overview</h3>

<table class="table">
    <thead>
    <tr>
        <th>License No.</th>
        <th>Brand</th>
        <th>Type</th>
        <th>History</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var vehicle in Model.Vehicles)
        {
            <tr class="clickable" onclick="location.href = '@(Url.Action("Details", "VehicleManagement", new { licenseNumber = vehicle.LicenseNumber }))'">
                <td>@vehicle.LicenseNumber</td>
                <td>@vehicle.Brand</td>
                <td>@vehicle.Type</td>
                @if (vehicle.HasMaintenanceHistory)
                {
                    <td>
                        <a class="btn btn-primary" href="@Url.Action("Index", "MaintenanceHistory", new { licenseNumber = vehicle.LicenseNumber })" onclick="event.stopPropagation();">
                            History
                        </a>
                    </td>
                }
                else 
                {
                    <td>
                        <a class="btn btn-primary">
                            No history available
                        </a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
<a id="RegisterVehicleButton" asp-action="New" asp-controller="VehicleManagement" class="btn btn-default">Register vehicle</a>