@model Pitstop.WebApp.ViewModels.MaintenanceHistoryDetailsViewModel
@{
    ViewData["Title"] = "Maintenance History Details";
}

<h3 id="PageTitle">@Model.LicenseNumber -- @Model.MaintenanceDate</h3>

<h4>Description</h4>
<p>@Model.Description</p>

<h4>Type of maintenance</h4>
<p>@Model.MaintenanceType</p>

<h4>Is the maintenance complete?</h4>
<p>@(Model.IsCompleted ? "Yes" : "No")</p>