@model Pitstop.WebApp.ViewModels.DIYManagementCustomerOverviewViewModel
@{
    ViewData["Title"] = "DIY Customer Overview";
}

<h3 id="PageTitle">DIY Customer- overview</h3>
<table class="table">
    <thead>
        <tr>
            <th>DIY Title</th>
            <th>DIY Description</th>
            <th>Start Date & time</th>
            <th>End Date & time</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var diy in Model.DIYEvening)
        {
            <tr class="clickable" onclick="location.href = '@(Url.Action("Details", "DIYManagement", new { id = diy.Id }))'">
                <td>@diy.Title</td>
                <td>@diy.ExtraInfo</td>
                <td>@diy.StartDate</td>
                <td>@diy.EndDate</td>
                <td>
                    @if (diy.Cancelled)
                    {
                        <span class="glyphicon glyphicon-remove" style="color:red"></span>
                    }
                    else
                    {
                        <span class="glyphicon glyphicon-ok" style="color:green"></span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
