@model Pitstop.WebApp.ViewModels.DIYManagementDetailsViewModel
@{
    ViewData["Title"] = "DIY Details";
}
<h3 id="PageTitle">DIY Management - details</h3>
<table class="table">
    <tbody>
        <tr>
            <td>Title :</td>
            <td><b>@Model.DIYEvening.Title</b></td>
        </tr>
        <tr>
            <td>Description :</td>
            <td><b>@Model.DIYEvening.ExtraInfo</b></td>
        </tr>
        <tr>
            <td width="150">Start time :</td>
            <td><b>@Model.DIYEvening.StartDate</b></td>
        </tr>
        <tr>
            <td width="150">End time :</td>
            <td><b>@Model.DIYEvening.EndDate</b></td>
        </tr>
        <tr>
            <td width="150">Mechanic :</td>
            <td><b>@Model.DIYEvening.Mechanic</b></td>
        </tr>
    </tbody>
</table>
<table class="table">
    <thead>
        <tr>
            <th>Name customer</th>
            <th>Reparation(s)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var diyRegistration in Model.DIYRegistrations)
        {
            <tr>
                <td>@diyRegistration.CustomerName</td>
                <td>@diyRegistration.Reparations</td>
            </tr>
        }
    </tbody>
</table>
<a id="RegisterCustomerButton" asp-action="NewRegistration" asp-route-DIYEveningId="@Model.DIYEvening.Id"
    asp-controller="DIYManagement" class="btn btn-default">Register customer</a>
<a id="CancelButton" asp-action="Index" asp-controller="DIYManagement" class="btn btn-default">Cancel</a>
